/*Grid*/
.body{
    text-align: center;
    padding:10px
}
.name{
    font-size: 20px;
}
.i{
    font-size: 50px;
}
.mark{
    display: inline-block;
    background-color: gray;
    color: white;
    border-radius: 8px 0 0 0;
    margin-left: auto;
    padding: 0 5px 5px 10px;
}
.item{

}
.item:hover{
    background-color: whitesmoke;
    cursor: pointer;
}
.item_list:hover{
    background-color: whitesmoke;
    cursor: pointer;
}
.item_list_2:hover{
    background-color: white;
    cursor: pointer;
}
/*List*/
.item_list {
    margin-bottom: 10px;
}
.item_list_2{
    background-color: whitesmoke;
    margin-bottom: 10px;
}