/*Grid*/
.body{
    text-align: center;
    padding:10px
}
.name{
    font-size: 20px;
}
.i{
    font-size: 50px;
}
.mark{
    display:none;

    background-color: gray;
    color: white;
    border-radius: 8px 0 0 0;
    margin-left: auto;
    padding: 0 5px 5px 10px;
}

.item_list:hover{
    background-color: whitesmoke;
    cursor: pointer;
}
@media(max-width: 600px){
    .row{
        flex-wrap: nowrap !important;
    }
}
.dropdown_i{
    margin-right:10px
}
/*List*/
.item_list {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.buttons{
    display: flex;
}