.dropArea{
    height: calc(100vh - 50px - 50px);
    margin: 20px;
    border: dashed darkblue 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
.tools{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    margin-bottom: 10px;
}
.options{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 1fr;
}
@media(max-width: 1000px){
    .options{
        display: inline-block;
        text-align: right;
    }
    .view{
        display: none!important
    }
}
.view{
    display: grid;
    justify-self: end;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 40px);
}
.dropdown{
    height: 100% !important;
    width: 100% !important;
}
@media(max-width: 450px){
    .tools{
        grid-template-rows: 1fr 1fr;

    }
}
.dropdown_item{
    display: block;
    padding: 10px;
    margin-bottom: 0;
}
.dropdown_i{
    margin-right: 10px;
}
.dropdown_item:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.path{
    font-size: 20px;
}
.hideInput{
    display: none;
}
.boxBtn{
    padding: 0 0 3px 0!important;
}